[Unit]
# senti-data-exporter.service
Description=Senti Data Exporter
Documentation=https://github.com/senti-iot/senti-data-exporter/blob/master/README.md
# After=network.target

[Service]
WorkingDirectory=/srv/nodejs/senti/services/data-exporter/production
ExecStart=/usr/bin/node server.js
Environment=NODE_PORT=3021
Environment=NODE_ENV=production
Type=simple
Restart=always
# RestartSec=1
StartLimitInterval=0
User=root
Group=root
# KillSignal=SIGQUIT

[Install]
WantedBy=basic.target
